:root {
    --ivory: ivory;
    --drk-brown: rgb(46, 21, 5);
    --ff-main: 'IM Fell DW Pica', serif;
    --light-peru: rgb(224, 175, 127);
    --vino: rgb(112, 32, 32);
    --cognac: rgb(141, 72, 26);
    --soft-vino: rgb(241, 213, 213);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--drk-brown);
    font-family: var(--ff-main);
    margin: 0 auto;
    background-color: var(--cognac);
}

.background {
    padding: 1em;
    background: url(/Users/casvalkyriespicer/Documents/GitHub/blog-post-api-1/pics/oldbooks.jpeg);
    background-color: var(--cognac);
    opacity: .8;
    z-index: 3;
    background-position: center;
    margin: 0 auto;
}

h1 {
    background-color: var(--light-peru);
    margin: 0 auto 1em auto;
    max-width: 50vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 20px 30px black;
    border-radius: 7px;
    padding: .4em;
    border: 1px solid var(--drk-brown);
}

.btn__5More {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--light-peru);
    border-radius: 5px;
    /*margin: 1em 0em 1em 11em;*/
    margin: 0 auto;
   /* max-width: 30vw;*/
    color: var(--drk-brown);
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: .2rem;
    box-shadow: 10px 20px 30px black;
    cursor: pointer;
    padding: .1em;
    transition: 250ms;
    border: 1px solid var(--drk-brown);
}

.btn__post {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--light-peru);
    border-radius: 5px;
    margin: 0 auto;
    /*max-width: 30vw;*/
    color: var(--drk-brown);
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    box-shadow: 10px 20px 30px black;
    cursor: pointer;
    padding: .2em;
    transition: 250ms;
    border: 1px solid var(--drk-brown);
}

.btn__5More:hover,
.btn__post:hover  {
    transform: scale(1.1);
    background-color: var(--soft-vino);
    border: 1px solid var(--vino);
}

span {
    font-family: serif;
    color: var(--vino);
    font-weight: 700;
}

.fineprint {
    font-size: .6rem;
    color: var(--ivory);
}

@media (min-width: 600px) {
    h1 {
        max-width: 25vw;
        height: 3em;
        padding: .7em;
    }

    .background {
        background: url(/Users/casvalkyriespicer/Documents/GitHub/blog-post-api-1/pics/oldbooks.jpeg);
        background-repeat: no-repeat repeat;
    }

    .fineprint {
        
        margin-top: 3.5em;
    }

    .btn__5More {
        margin: 1.5em 0 1.5em 32em;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }
}